.heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.heading> h3{
    font: karla;
    font-size: 50px;
    font-weight: 700;
}
.containers{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "img" "p";
    align-items: center;
    justify-content: center;

}
.containers > img{
    width: 1000px;
    margin: 30px;
    border-radius: 16px;
}
.containers> p{
    margin-left: 60px;
    font-weight: 500;
    font-size: 15px;
}