* {
  margin: 0;
  padding: 0;
}
footer {
  background-color: #f4ce14;
  list-style: none;
}
main {
  background-color: #495e57;
}
main > .container {
  display: grid;
  grid-template-columns: 5% 40% 50%;
  grid-template-rows: 400px;
  grid-template-areas: "empty1" "titles" "image" "empty2";
}
#titles > h2 {
  color: #f4ce14;
  font-family: "Markazi Text";
  font-weight: 500;
  font-size: 64px;
  margin-top: 10px;
}
#titles > h4 {
  color: white;
  font-family: "karla";
  font-weight: 400;
  font-size: 40px;
  margin-top: -10px;
}
#titles > p {
  color: white;
  font-family: karla;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}
button {
  background-color: #f4ce14;
  width: 325px;
  height: 65px;
  border-radius: 16px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

button:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease-in;
}
.about {
  display: grid;
  grid-template-columns: 5% 40% 50%;
  grid-template-rows: 400px;
  grid-template-areas: "empty1" "titles2" "image2" "empty2";
}
#titles2 > h2 {
  color: #495e57;
  font-family: "Markazi Text";
  font-weight: 500;
  font-size: 64px;
  margin-top: 10px;
}
#titles2 > h4 {
  color: black;
  font-family: "karla";
  font-weight: 400;
  font-size: 40px;
  margin-top: -10px;
}
#titles2 > p {
  color: black;
  font-family: karla;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}
/* Home.css */
#image > img {
  position: relative;
  margin-top: 30px;
  height: 400px;
  width: 700px;
  border-radius: 20px;
  margin-left: 80px;
}
#image2 > img {
  position: relative;
  width: 500px;
  border-radius: 20px;
  align-items: center;
}
#titles {
  margin-left: 80px;
}
#titles2 {
  margin-left: 200px;
}
.specials {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "h2" "button";
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.specials > button {
  font-weight: 700;
  font-size: 25px;
  font: karla;
}
.specials > h2 {
  font-size: 50px;
  font: "markazi text";
  font-weight: 700;
}
.spe {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 50px;
  grid-template-areas: "special1" "special2" "special3";
}
#inspec {
  border: 3px solid #495e57;
}
#inspec > .row {
  background-color: #edefee;
  align-items: center;
  justify-content: center;
  text-align: left;
}
#inspec > .row > img {
  width: 420px;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#inspec > .row > p {
  font: karla;
  color: #495e57;
  font-size: 20px;
  font-weight: 500;
}
#inspec > .row > h2 {
  font-family: "Markazi text";
  color: black;
  font-size: 30px;
  font-weight: 500;
}
#testi {
  text-align: center;
  font-family: "Markazi text";
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}
.testimonials {
  display: grid;
  grid-template-columns: 650px 650px;
  grid-template-rows: 210px 210px;
  grid-template-areas:
    "test1"
    "test2"
    "test3"
    "test4";
  grid-gap: 90px;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.testimonials > * {
  background-color: #edefee;
  padding: 20px;
  border: 3px solid #495e57;
}
.hover-text {
  display: inline-block;
  transition: color 0.3s ease;
}

.hover-text:hover {
  color: red; /* Change the color to your desired hover color */
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.counter-button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #495e57;
  color: white;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 40px;
  
}
.counter-value {
  margin: 0 10px;
  font-size: 20px;
  box-sizing: border-box;
}
